In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/CDR/sms-call-internet-mi-2013-11-01.txt', delimiter='\t',
                 header=None) 
#

In [9]:
df.columns = ["cellID", "time", "countryCode", "smsIn", "smsOut", "callIn", "callOut", "internet"]

In [10]:
df.head()

,cellID,time,countryCode,smsIn,smsOut,callIn,callOut,internet
0,1,1383260400000,0,0.081363,NaN,NaN,NaN,NaN
1,1,1383260400000,39,0.141864,0.156787,0.160938,0.052275,11.028366
2,1,1383261000000,0,0.136588,NaN,NaN,0.027300,NaN
3,1,1383261000000,33,NaN,NaN,NaN,NaN,0.026137
4,1,1383261000000,39,0.278452,0.119926,0.188777,0.133637,11.100963

In [11]:
df[df["cellID"] == 1]["smsIn"].sum()

78.709754721307775